@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: theme(colors.gray.100);
  background-image: url(/storage/img/pattern/cream_pixels.webp);
}

.border-marker {
  border-image: url(/storage/img/border.png) 41;
  border-width: 6px;
  border-image-outset: 3px;
}

.grid-page {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: repeat(5, auto);
}

.grid-discovery {
    display: grid;
    grid-template-rows: repeat(4, auto);
}
